* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

body {
    background-color: #CEE4F3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sign-up {
    background-color: #FAFAFF; 
    padding: 2.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    height: 660px;
    max-width: 450px;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
}

.sign-up-form input {
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 10px;
    font-size: 14px;
    background-color: #E0B8D4;
    height: 35px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    color: #757474;
}

.sign-up-form button {
    background-color: #856EB7;
    color: black;
    padding: 0.75rem;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 1rem;
    width: 40%;
    align-self: center;
}

.sign-up-form button:hover {
    background-color: #755BAE;
}


.sign-up-form button:hover {
    background-color: #755BAE;
}



label {
    text-align: left;
    padding: 10px 0;
    margin-left: 6px;
}



img#form-logo {
    margin-bottom: 20px;
    width: 40%;
    align-self: center;
}

input#password_confirm {
    margin-bottom: 1.5rem;
}

a#check {
    text-align: right;
    text-decoration: none;
    margin : -30px -25px 0px 0px;
    
}